#Chart3Div{
    width: 75%;
    float: right;
}
#results{
    width: 25%;
    float:left;
}
.bg { 
    /* The image used */
    background-image: url("../images/databack.jpg");
  
    /* Full height */

    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
